.header-navbar {
    @extend .middle-align;
    width: 100%;
    height: $margin-navbar;
    background-color: $main-app-color;

    nav {
        @extend .app-container, .space-between, .items-center;

        img {
            max-width: $margin-navbar * 2;

            @include media(lg) {
                max-width: $margin-navbar * 2 + 30px;
            }
        }

        .icon {
            position: relative;

            svg {
                height: $margin-navbar / 2 - 5px;
                width: $margin-navbar / 2 - 5px;
            }

            &-badge {
                @extend .middle-align;
                background-color: tomato;
                color: white;
                position: absolute;
                top: -8px;
                right: -8px;
                min-height: 18px;
                min-width: 18px;
                border-radius: 50%;

                div {
                    margin-top: 4px;
                }
            }
        }
    }
}