.movie-description {
  position: relative;

  &-container {
    @extend .items-center;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, .7);

    .title-container {
      @extend .items-center, .space-between;
      width: 100%;
      padding: 0 15px;

      div:last-child {
        @extend .middle-align;
        color: $main-app-color;

        div:last-child {
          margin-top: 2px
        }
      }
    }
  }
}

.swiper-slide-active {
  .movie-description {
    cursor: pointer;
  }
}