@import "./variables";
@import "./mixins";
@import "../../components/styles";
@import "../../pages/styles";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



@font-face {
  font-family: 'Comedy';
  src: url('../fonts/comedy.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Science-Fiction';
  src: url('../fonts/science-fiction.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Western';
  src: url('../fonts/western.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  background-color: $main-bg-color;
 
}



.items-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.middle-align {
  @extend .items-center, .justify-center;
}

.app-container {
  width: 100%;
  padding: 0 ($margin-navbar / 2);

  @include media(md) {
    max-width: $screen-md;
  }

  @include media(lg) {
    max-width: $screen-lg;
  }
}
