.favorite-movie-card {
  $image-size: 8rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  img {
    width: $image-size;
    height: $image-size;
    margin-top: -($image-size / 2) - 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 50%;
  }

  .description {
    margin-top: 1rem;
    text-align: center;
    color: white;

    .stars {
      color: $main-app-color;

      sup {
        margin-left: .25rem;
      }
    }

    .title {
      font-family: var(--title-font-family);
      font-size: 1.8rem;
      margin-top: .5rem;

      @include media(sm) {
        font-size: 2rem;
      }
    }

    .button-remove-from-favorites {
      @extend .items-center;
      cursor: pointer;
      height: 40px;
      color: white;
      text-transform: uppercase;
      padding: .5rem 1rem;
      font-weight: 700;
      border-radius: .375rem;
      background-color: transparent;
      border: 1px solid tomato;
      box-shadow: 0 0 10px tomato;
      margin: 2rem auto 1rem auto;

      span {
        font-size: .8rem;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}